body {
  background-color: white;
  font-family: verdana;
  color: black;
  Max-width: 940px;
  margin-left: 5%;
  margin-right: 5%;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 16px
}

h3 {
  font-size: 16px
}

h6 {
  text-align: center;
  font-weight: normal
}

p {
  font-size: 14px;
}

li {
  font-size: 14px;
  margin-left: 10px;
  list-style-type: disc;
}